body{
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
}

.Calculator{
    margin: auto ;
    width: 335px;
    height: 385px;
    border-radius: 25px;
    padding: 70px 0;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0 10px 20px rgba(223, 79, 79, 0.19), 0 6px 6px rgba(15, 79, 175, 0.23);
}

input{
    width: 80%;
    height: 40px;
    border: none;
    background-color: rgb(255, 255, 255);
    text-align: right;
    font-size: 30px;
    font-weight: bold;
}

.delete, .clear, .decimal, .percent, .number, .operator, .sign, .decimal, .equal{
    border-radius: 50px;
    border: none;
    height: 50px;
    width: 50px;
    background-color: rgb(253, 253, 253);
    font-size: 15px;
    margin: 15px;
    font-weight: bold;
}

.delete:active, .clear:active, .decimal:active, .percent:active, .number:active, .equal:active, .operator:active{
    font-size: 25px;
}

.creator{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin: 27px;
    font-style: italic;
}
